@model CelyWeb.ViewModels.SeccionsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Seccions</h2>

<table class="table table-bordered table-hover">
    <thead>
       <tr>
           <th>Nivel</th>
           <th>Aula</th>
       </tr>
    </thead>
    <tbody>
        @foreach(var seccion in Model.Seccions)
        {
            <tr>
                <td><a class="btn btn-link" href="/Seccions/Details/@seccion.Id">@seccion.Nivel</a></td>
                <td>@seccion.Aula</td>
            </tr>
        }
    </tbody>
</table>