@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de la Familia<span id="js-title"></span></h2>
<div id="js-Details" class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
        <h3>Detalles</h3>
        <ul>
            <li><b>Nombre: </b> <span id="js-groupName"></span></li>
            <li><b>Cantidad de Estudiantes: </b> <span id="js-studentsAmount"></span></li>
        </ul>
        <h3>Pagos</h3>

        <ul>
            <li><b>Tipo de Pago: </b> <span id="js-paymentType"></span> </li>
            <li><b>Cantidad a Pagar: </b> RD$<span id="js-paymentAmount"></span></li>
            <li><b>Fecha del Proximo Pago: </b> <span id="js-paymentDate"></span></li>
        </ul>


        <h3>Estudiantes</h3>
        <ul id="js-studentsInGroup" class="list-group"></ul>

        <button class="btn btn-primary" id="js-modifyGroup">Modificar</button>
        <button class="btn btn-primary" id="js-deleteGroup">Eliminar</button>
        <div class="col-sm-3">

        </div>
    </div>
</div>

