@model CelyWeb.ViewModels.GroupsViewModel
@{
    ViewBag.Title = "GroupsForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nueva Familia</h2>

<div class="row">
    <form>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="name" class="form-control" />
            </div>
            <div class="form-group">
                <label>Tipo de Pago</label>
                <input type="text" name="paymentType" class="form-control" />
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" name="isVip" /> Es VIP?
                </label>
            </div>
            <div class="form-group">
                <label>Estudiante</label>
                <input type="text" name="student" class="form-control" />
            </div>

        </div>
        <div class="col-sm-5">
            
        </div>

        <button class="btn btn-primary">Guardar</button>
    </form>
</div>
