
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Familias</h2>

<div id="js-groupIndex" class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <table id="js-listGroups" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-sm-2"></div>
</div>